@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
.radix-themes {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.radix-themes {
  --default-font-family: var(--font-inter);
}

@layer base {
  a {
    color: rgb(var(--foreground-rgb));
    text-decoration: none;
  }
}

.prose {
  --tw-prose-body: rgb(var(--foreground-rgb));
  --tw-prose-headings: rgb(var(--foreground-rgb));
  --tw-prose-bold: rgb(var(--foreground-rgb));
  --tw-prose-bullets: rgb(var(--foreground-rgb));
  --tw-prose-counters: rgb(var(--foreground-rgb));
  --tw-prose-links: rgb(var(--foreground-rgb));
}
